<!--
/*
 * Copyright © 2008, 2015 Pedro Agulló Soliveres.
 * 
 * This file is part of DirectJNgine.
 *
 * DirectJNgine is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License.
 *
 * DirectJNgine is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with DirectJNgine.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * This software uses the ExtJs library (http://extjs.com), which is 
 * distributed under the GPL v3 license (see http://extjs.com/license).
 */
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_3.xsd"
   version="2.3">

  <!-- DirectJNgine servlet -->
<!--   
  <servlet>
    <servlet-name>DjnServlet2</servlet-name>
    <servlet-class>com.softwarementors.extjs.djn.servlet.DirectJNgineServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DjnServlet2</servlet-name>
    <url-pattern>/djn/directprovider2/*</url-pattern>
  </servlet-mapping>
-->  
  <servlet>
    <servlet-name>DjnServlet</servlet-name>
    <servlet-class>com.softwarementors.extjs.djn.servlet.DirectJNgineServlet</servlet-class>
    
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>   

    <init-param>
      <param-name>minify</param-name>
      <param-value>true</param-value>
    </init-param>

 
    <init-param>
      <param-name>createSourceFiles</param-name><param-value>true</param-value>
    </init-param>

    <init-param>
      <param-name>providersUrl</param-name>
      <param-value>djn/directprovider</param-value>
    </init-param>

    <init-param>
      <param-name>registryConfiguratorClass</param-name>
      <param-value>com.softwarementors.extjs.djn.test.servlet.config.RegistryConfiguratorForTesting</param-value> 
    </init-param>

    <init-param>
      <param-name>gsonBuilderConfiguratorClass</param-name>
      <param-value>com.softwarementors.extjs.djn.test.config.GsonBuilderConfiguratorForTesting</param-value>
    </init-param>

    <!--<init-param><param-name>contextPath</param-name><param-value>/</param-value></init-param>-->

    <!-- Spring -->
    <!-- 
    <init-param>
      <param-name>dispatcherClass</param-name>
      <param-value>com.softwarementors.djn.spring.dispatcher.SpringDispatcher</param-value>
    </init-param>
    -->

    <!-- CDI -->
    <!-- 
    <init-param>
      <param-name>dispatcherClass</param-name>
      <param-value>com.softwarementors.djn.cdi.dispatcher.CdiDispatcher</param-value>
    </init-param>
    -->

    <!-- Spring+CDI -->
    <init-param>
      <param-name>dispatcherClass</param-name>
      <param-value>com.softwarementors.djn.springcdi.dispatcher.SpringAndCdiDispatcher</param-value>
    </init-param>
<!-- This is already the default 
    <init-param>
      <param-name>jsonRequestProcessorThreadClass</param-name>
      <param-value>com.softwarementors.extjs.djn.servlet.ssm.SsmJsonRequestProcessorThread</param-value>
    </init-param>
-->    

    <init-param>
      <param-name>batchRequestsMultithreadingEnabled</param-name>
      <param-value>false</param-value>
    </init-param>

    <init-param>
      <param-name>apis</param-name>
      <param-value>
        test,
        demo,
        namespacedActionTest
      </param-value>
    </init-param>
    
    <init-param>
      <param-name>demo.apiFile</param-name>
      <param-value>demo/Api.js</param-value>
    </init-param>

    <init-param>
      <param-name>demo.apiNamespace</param-name>
      <param-value>Ext.app</param-value>
    </init-param>

    <init-param>
      <param-name>demo.classes</param-name>
      <param-value>
      com.softwarementors.extjs.djn.demo.Poll,
      com.softwarementors.extjs.djn.demo.TestAction,
      com.softwarementors.extjs.djn.demo.Profile,
      com.softwarementors.extjs.djn.demo.FormPostDemo,
      com.softwarementors.extjs.djn.demo.DirectStoreDemo
      </param-value>
    </init-param>

    <init-param>
      <param-name>test.apiFile</param-name>
      <param-value>test/DjnTestApi.js</param-value>
    </init-param>

    <init-param>
      <param-name>test.classes</param-name>
      <param-value>
      com.softwarementors.extjs.djn.test.ServerMethodParametersReceptionTest,
      com.softwarementors.extjs.djn.test.DeserializationOfSingleItemToSingleItemArrayTest,
      com.softwarementors.extjs.djn.test.DeserializationToUntypedObjectsTest,
      com.softwarementors.extjs.djn.test.DeserializationToGenericTypesTest,
      com.softwarementors.extjs.djn.test.DeserializationFieldExclusionTest,
      com.softwarementors.extjs.djn.test.DateHandlingTest,
      
      com.softwarementors.extjs.djn.test.ServerMethodReturnTest, 
      
      com.softwarementors.extjs.djn.test.DirectStoreTest,
      com.softwarementors.extjs.djn.test.FormTest,
      com.softwarementors.extjs.djn.test.ManualFormUploadSupportTest,
      com.softwarementors.extjs.djn.test.PollTest,
      com.softwarementors.extjs.djn.test.config.CustomGsonBuilderHandlingTest,
      com.softwarementors.extjs.djn.test.BatchRequestMultithreadedHandlingTest,
      com.softwarementors.extjs.djn.test.MethodsInBaseClassCorrectlyScannedTest
      
      ,com.softwarementors.extjs.djn.test.servlet.ssm.WebContextManagerTest
      
      ,com.softwarementors.extjs.djn.test.servlet.ssm.ApplicationStatefulActionTest
      ,com.softwarementors.extjs.djn.test.servlet.ssm.SessionStatefulActionTest
      ,com.softwarementors.extjs.djn.test.ClassWithMultipleActionsTest
      ,com.softwarementors.extjs.djn.test.ActionClassImplementingAnInterfaceTest
      
      ,com.softwarementors.djn.cdi.CdiApplicationScopedActionTest
      ,com.softwarementors.djn.cdi.CdiSessionScopedActionTest

      ,com.softwarementors.djn.spring.SpringApplicationScopedActionTest
      ,com.softwarementors.djn.spring.SpringSessionScopedActionTest
      </param-value>
    </init-param>

    <init-param>
      <param-name>namespacedActionTest.apiFile</param-name>
      <param-value>test/DjnTestApi.js</param-value>
    </init-param>

    <init-param>
      <param-name>namespacedActionTest.apiNamespace</param-name>
      <param-value>Djn.apiNamespace</param-value>
    </init-param>

    <init-param>
      <param-name>namespacedActionTest.actionsNamespace</param-name>
      <param-value>Djn.actionsNamespace</param-value>
    </init-param>

    <init-param>
      <param-name>namespacedActionTest.classes</param-name>
      <param-value>
      com.softwarementors.extjs.djn.test.NamespaceTest
      </param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>DjnServlet</servlet-name>
    <url-pattern>/djn/directprovider/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>
      index.html
    </welcome-file>
  </welcome-file-list>

  <!-- ********************************************************************* -->
  <!--  CDI/Weld configuration -->
  <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>
  <resource-env-ref>
    <resource-env-ref-name>BeanManager</resource-env-ref-name>
    <resource-env-ref-type>
      javax.enterprise.inject.spi.BeanManager
    </resource-env-ref-type>
  </resource-env-ref>
  <!-- ********************************************************************* -->
  
  
  <!-- ********************************************************************* -->
  <!--  Spring configuration -->
  <listener>  
    <listener-class>org.springframework.web.context.ContextLoaderListener
    </listener-class>  
  </listener>
  <!--  Required for session scoped beans --> 
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener
    </listener-class>
  </listener>  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext*.xml</param-value>
  </context-param>
  <!-- ********************************************************************* -->

</web-app> 
